{% extends 'base.html' %}

{% block content %}
<div class="flex">
    <h2>Edit: {{country.name}}</h2>
    
    <div class="form">
    <form action="/countries/{{country.id}}" method="post">
        <div>
            <label for="climate">Climate:</label>
            <input type="text" id="climate" name="climate" value="{{country.climate}}" required >
        </div>
        <div>
            <label for="currency">Currency:</label>
            <input type="text" id="currency" name="currency" value="{{country.currency}}" required >
        </div>
        <button type="'submit">Save changes</button>
        
    </form>
    </div>
    <div class="form ">
        <h3>Destinations</h3> 
        <ul class="list-style-none">
        {% for destination in destinations %}
        <li>
            
            <form action="/destination/{{destination.id}}/delete/country" method="post">
            <label for="">{{destination.name}}</label>
            <button type="submit">remove</button>
            </form>
        </li>
        {% endfor %}
        </ul>
        </div>
</div>

{% endblock content %}