{% extends 'base.html' %}

{% block content %}
<div class="grid container grid-span-3" >

    <h1>Countries</h1>
    <div class ='grid container grid-span-3'>

        {% for country in countries %}
        <div class="card">
            <h2><a href="/countries/show/{{country.id}}">{{country.name}}</a></h2>  
        </div>
        {% endfor %}
    </div>   

                    
        <form class = 'form' action="/countries/create" method="post">
                    <h2>Add a new Country</h2>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required><br>
                    
                    <label for="climate">Climate</label>
                    <input type="text" id="climate" name="climate" required><br>
                    
                    <label for="currency">Currency</label>
                    <input type="text" id="currency" name="currency" required><br>
                    
            <button type="submit">Add Country</button>
            
        </form>
            </ul>
</div>

{% endblock content %}



