{% extends 'base.html' %}

{% block content %}

<a href="/countries/new">Add a new Country</a>

<form action="/contries/create" method="post">
    <label for="name"></label>
    <input type="text" id="name" name="name">

    <button type="submit">Add Country</button>

</form>

<ul>
{% for country in countries %}
    <li>
        <p>Country: {{country.name}}</p>
        
            {% for destination in destinations %}
            <ul>
                {% if destination.country.id == country.id %}
                <li>{{destination.name}}</li>
                {% endif %}     
            </ul>
            {% endfor %}
              <a href="/destinations/new/{{loop.index0}}">Add a destination</a>
    </li>
{% endfor %}
</ul>
    
{% endblock content %}



