{% extends 'base.html' %}

{% block content %}

<a href="/countries/new">Add a new Country</a>

<form action="/countries/create" method="post">
    <label for="name"></label>
    <input type="text" id="name" name="name" required>

    <label for="climate">Climate</label>
    <input type="text" id="climate" name="climate" required>
    
    <label for="currency">Currency</label>
    <input type="text" id="currency" name="currency" required>

    <button type="submit">Add Country</button>

</form>

<ul>
{% for country in countries %}
    <li class="card">
        <p>Country: <a href="/countries/show/{{country.id}}">{{country.name}}</a></p>
        
         
    </li>
{% endfor %}
</ul>
    
{% endblock content %}



