{% extends 'base.html' %}

{% block content %}
<div >

  <h1>{{selected_country.name}}</h1>
  <div class="card">
    <p>Climate : {{selected_country.climate}}</p>
    <p>Currency : {{selected_country.currency}}</p>
  </div>
  
  {% for destination in destinations %}
  <ul>
    <div class="card">
      <li class="list-style-none">
        <p><a href="/destinations/show/{{destination.id}}">{{destination.name}}</a></p>
        
      </li>          
    </div>
  </ul>
  {% endfor %}
  <div>
    <form class='form'action="">

      <a href="/destinations/new/{{selected_country.id}}">Add a destination</a>
      
      <a href="/countries/{{selected_country.id}}/edit">Edit Country</a>
    </form>
  </div>
</div>
    
{% endblock content %}