{% extends 'base.html' %}

{% block content %}

<h2>{{selected_country.name}}</h2>

<p>Climate : {{selected_country.climate}}</p>
<p>Currency : {{selected_country.currency}}</p>
        
                {% for destination in destinations %}
                <ul>
                    <li>
                      <p><a href="/destinations/show/{{destination.id}}">{{destination.name}}</a></p>
                      
                    </li>          
                </ul>
                {% endfor %}
              <a href="/destinations/new/{{selected_country.id}}">Add a destination</a>

              <a href="/countries/{{selected_country.id}}/edit">Edit Country</a>
    
{% endblock content %}