{% extends 'base.html' %}

{% block content %}
<div class="grid">
    
    
    <ul >
        {% for destination in destinations %}
        
        <div class =card>
            <li class = list-style-none>
                <p >Name : <a href="/destinations/show/{{destination.id}}">{{destination.name}}</a></p>
                <p>Country : <a href="/countries/show/{{destination.country.id}}">{{destination.country.name}}</a></p>
                <p>Information : {{destination.information}}</p>
                <form class='remove-form'action="/destination/{{destination.id}}/delete" method="post">
                    <button class='remove-button' type="submit"> Remove &#x1F5D1;</button>
                </form>
                
            </li>
        </div>
        
        {% endfor %}
        <div >
            <form class='form'action="">

                <p>Most Visited Destination : {{visited_destination}}  &#128681</p>
                <p>Most Wishlisted Destination : {{wishlist_destination}}</p>
            <a href="/destinations/new" class="add-destination-link">Add a Destination</a>
        </form>
        </div>
        
        
    </ul>
    
    

</div>
{% endblock content %}