{% extends 'base.html' %}

{% block content %}
<div class="grid container grid-span-3">
     
    <div class="grid-span-3 centered">
        <h1>Destinations</h1>
    </div>
    
    <div class ='grid container grid-span-3'>
        {% for destination in destinations %}
        
        <div class =card>
          
                <p >Name : <a href="/destinations/show/{{destination.id}}">{{destination.name}}</a></p>
                <p>Country : <a href="/countries/show/{{destination.country.id}}">{{destination.country.name}}</a></p>
                <p>Information : {{destination.information}}</p>
                <form class='remove-form'action="/destination/{{destination.id}}/delete" method="post">
                    <button class='remove-button' type="submit"> Remove &#x1F5D1;</button>
                </form>
           
            
        </div>
        
        {% endfor %}
    
        <div class='card3 centered'>
                
                <a href="/destinations/new" class="add-destination-link">Add a Destination</a>
        
        </div>
        <div class="attention-card grid-span-3">
            <p>Most Visited Destination : {{visited_destination}}  &#128681</p>
            <p>Most Wishlisted Destination : {{wishlist_destination}}</p>

        </div>
    </div>
       
        
    
    
    

</div>
{% endblock content %}