{% extends 'base.html' %}

{% block content %}
<div class="flex">
    <h1>New Destination</h1>

    <form class='form' action="/destinations/create/{{country.id}}" method="post">
        
        <label for="name">Destination Name</label>
        <input type="text" id="name" name="name">
        
        <label for="info">Information</label>
        <textarea name="info" id="info" cols="30" rows="5"></textarea>
        
        
        <p>Country : {{country.name}}</p>
        <button type="submit">Add destination</button>
        </div>
    </form>
</div>

    
{% endblock content %}


