{% extends 'base.html' %}

{% block content %}
<div class="flex">

    <h1>Add {{destination.name}} to Wishlist</h1>
    
    <form action="/wishlists/create" method="post">
        <div class="form">
            <label for="user">User</label>
            <select name="user" id="user">
                {% for user in users %}
                <option value="{{user.id}}">{{user.name}}</option>                
                {% endfor %}
            </select>
            
            
            <label for="destination">Destination</label>
            <select name="destination" id="destination">
                
                <option value="{{destination.id}}">{{destination.name}}</option>                
        
            </select>
            
            <button type="submit">Add to Wishlist</button>
        </form>
        
    </div>
        
        
        
        
        {% endblock content %}

