{% extends 'base.html' %}

{% block content %}
<div>
    
    
    <ul class="grid">
        
        
        {% for visit in visits %}
        <li class = 'card' >
            <p>Visited by : {{visit.user.name}} </p>
            <p>Destination : {{visit.destination.name}}</p>
            <p>Date : {{visit.date}}</p>
            <p>Rating : 
                {% if visit.rating == 5 %}
                    &#11088&#11088&#11088&#11088&#11088
                                    
                {% elif visit.rating == 4 %}
                    &#11088&#11088&#11088&#11088
                {% elif visit.rating == 3 %}
                    &#11088&#11088&#11088
                {% elif visit.rating == 2 %}
                    &#11088&#11088
                {% else %}
                    &#11088
                    
                {% endif %}
                    
             </p>
            <p>Comment : {{visit.comment}}</p>
            
        </li>
        
        {% endfor %} 
        <div class="form">
            <form action="">
            <a href="/visits/new">Add a visit</a>
        </form>
        </div> 
    </ul>
</div>
    
{% endblock content %}