{% extends 'base.html' %}

{% block content %}
<div class="grid container grid-span-3" >
    <div class="grid-span-3 centered">
        <h1>Visits</h1>
    </div>
    
    
    <div class ='grid container grid-span-3'>
        {% for visit in visits %}
        <div class="card" >
            <p>Visited by : {{visit.user.name}} </p>
            <p>Destination : {{visit.destination.name}}</p>
            <p>Date : {{visit.date}}</p>
            <p>Rating : 
                {% if visit.rating == 5 %}
                    &#11088&#11088&#11088&#11088&#11088
                                    
                {% elif visit.rating == 4 %}
                    &#11088&#11088&#11088&#11088
                {% elif visit.rating == 3 %}
                    &#11088&#11088&#11088
                {% elif visit.rating == 2 %}
                    &#11088&#11088
                {% else %}
                    &#11088
                    
                {% endif %}   
             </p>
            <p>Comment : {{visit.comment}}</p>
        </div>
        
        
        {% endfor %} 
    </div> 
    
    
     <div class="card2 grid-span-2">
        <a href="/visits/new">Add a visit</a>
    </div>
      
    
</div>
    
{% endblock content %}