<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>{{title}}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <div>
                    <li><a href="/">Home</a></li>
                </div>
                <div>
                    <li><a href="/users">Wish Lists</a></li>
                </div>
                <div>
                    <li><a href="/visits">Visits</a></li>
                </div>
                <div>
                    <li><a href="/destinations">Destination</a></li>
                </div>
                <div>
                    <li><a href="/countries">Countries</a></li>
                </div>
            </ul>
        </nav>
    </header>
    <main>
    {% block content %}
        
    {% endblock content %}
    </main>
    <footer>
        this is a footer
    </footer>
</body>
</html>