{% extends 'base.html' %}

{% block content %}
    <div class="grid container grid-span-3" >

             
        <div class ='grid container grid-span-3'>

            
            {% for user in users %}
            <div class="card" >
                <h2><a href="/users/{{user.id}}">{{user.name}}</a></h2>
            </div>
            
            {% endfor %}  
        
        </div> 
        <div class=" form">
            Travel Leader : {{user_visits}}


        </div>
        <form class = 'form grid-span-2' action="/users/create" method="post">
            <label for="name"></label>
            <input type="text" id="name" name="name" required>
            
            <button type="submit">Add User</button>
            
        </form>      
      
    </div>
{% endblock content %}


