{% extends 'base.html' %}

{% block content %}
    <div>

             
        <ul>
            {% for user in users %}
            <li class=" card">
                <p>Name: <a href="/users/{{user.id}}">{{user.name}}</a></p>
                
                
                
            </li>
            
            {% endfor %}  
            <form class = 'users-form' action="/users/create" method="post">
                <label for="name"></label>
                <input type="text" id="name" name="name" required>
                
                <button type="submit">Add User</button>
                
            </form>      
        </ul>

      
    </div>
{% endblock content %}


