{% extends 'base.html' %}

{% block content %}
    <div class="grid container grid-span-3" >
        <div class="grid-span-3 centered">
            <h1>Users</h1>
        </div>

             
        <div class ='grid container grid-span-3'>

            
            {% for user in users %}
            <div class="card" >
                <h2><a href="/users/{{user.id}}">{{user.name}}</a></h2>
            </div>
            
            {% endfor %}  
        
        </div> 
        <div class="attention-card2">
            <h2>Travel Leaderboard</h2>
            {% for user in user_visits %}
            <ul>
                <li>
                    {{user}}
                </li>
            </ul>
            {% endfor %}
          


        </div>
        <form class = 'card2 grid-span-2' action="/users/create" method="post">
            <label for="name">Add a new User</label>
            <input type="text" id="name" name="name" required>
            
            <button type="submit">Add User</button>
            
        </form>      
      

    </div>
{% endblock content %}


